* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #0097e6;
}

#draggable {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fbc531;
    padding: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.delete {
    background: #c23616;
    color: #fff;
    border-radius: 10px;
    width: 50px;
    height: 32px;
    border: none;
    cursor: pointer;
}

#create {
    background: #353b48;
}

#add {
    background: #f5f6fa;
    color: #192a56;
    border-radius: 15px;
    width: 180px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

#add:hover {
    background: #dcdde1;
}

.dropzone-container {
    display: flex;
    background-color: #00a8ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.dropzone {
    width: 250px;
    min-height: 300px;
    background: #192a56;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 20px 20px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
    color: white;
}

h3 {
text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dropzone.dragover {
    background-color: #718093;
    cursor: pointer;
}

#create.dragover {
    background-color: #718093;
    cursor: pointer;
}

.dragging {
    opacity: 0.5;
}