:root {
  /* color */
  --color-skyblue: #d2e3ed;
  --color-white: #fff;
  --color-gradation: linear-gradient(135deg, rgba(158, 15, 184, 0.9) -20%, rgba(5, 232, 255, 0.9) 165%);
  --color-gradation-hover: linear-gradient(135deg, rgba(158, 15, 184, 0.8) -20%, rgba(5, 232, 255, 0.8) 165%);
  --color-gradation-active: linear-gradient(135deg, rgba(158, 15, 184, 0.9) -20%, rgba(5, 232, 255, 0.9) 165%);

  /* size */
  --app-width: 375px;
  --app-min-height: 200px;

  /* board */
  --border-radius: 22px;

  /* margin */
  --my0mxAuto: 0 auto;

  /* effect */
  --text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

body {
  background-color: var(--color-skyblue);
}

.wrapper {
  width: 100%;
  min-height: 960px;
}

.align {
  width: 100%;
  height: 100%;
  margin: var(--my0mxAuto);
  padding: 80px 0;
}

/* To-do List App */
.app {
  width: var(--app-width);
  min-height: var(--app-min-height);
  margin: var(--my0mxAuto);

  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);

  text-shadow: var(--text-shadow);
  letter-spacing: -1px;

  user-select: none;
  /* 이 기능들은 나중에
    -webkit-backface-visibility: hidden;

    -webkit-user-select: none;
    -moz-user-select: none; 
    */
}

/*------ app-header ------*/
.app-header {
  position: relative;
  width: auto;
  height: 170px;

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background: linear-gradient(135deg, rgba(158, 15, 184, 0.7) -10%, rgba(5, 232, 255, 0.8) 180%),
    url('https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/vector-free-abstract-background-1.jpg');
  background-size: cover;
}

.app-header__date {
  position: relative;
  width: 100%;
  padding: 11px 0 5px 0;
}

#day,
#month {
  margin: var(--my0mxAuto);
  text-align: center;
  font-size: 26px;
  color: var(--color-white);
}

#month {
  font-size: 16px;
}

#today {
  font-weight: bold;
}

.app-header__info {
  position: relative;
  width: 80%;
  height: 50px;
  margin: 40px auto 0 auto;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between;
}

.app-header__info__content {
  list-style: none;
  margin: 0;
  padding: 0;
}

#count,
#tasks,
#count_done,
#tasks_done,
#remaining_done,
#remaining_tasks {
  font-size: 19px;
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
}
#tasks,
#tasks_done,
#remaining_tasks {
  font-weight: normal;
  font-size: 18px;
  margin-top: -2px;
}

/*------ app-main ------*/
.app-main__container {
  height: 100%;
  margin: 10px auto 10px auto;
  margin: 0;
  padding: 0;
}

#info_introduction {
  width: 100%;
  height: 52px;
  margin: 10px auto;

  font-size: 18px;
  text-align: center;
  color: #636363;
  line-height: 52px;
}

.todo {
  position: relative;
  display: flex;

  margin: 10px auto;
  width: 92%;
  min-height: 37px;

  list-style: none;
  line-height: 37px;
  color: #636363;

  -webkit-transition: all ease-in-out 0.35s;
  -moz-transition: all ease-in-out 0.35s;
  -o-transition: all ease-in-out 0.35s;
  transition: all ease-in-out 0.35s;
}

.todohidden {
  opacity: 0;
}

.todo__check_button,
.todo__delete_button {
  display: inline-block;

  width: 35px;
  height: 30px;

  background-color: transparent;
  border: 0;
}

/* .todo__check_button {
  color: #636363;
} */

.check_icon {
  position: absolute;
  top: 6px;
  left: 7px;

  font-size: 20px;
  font-weight: bold;

  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.mark {
  color: #744bc0;
}

.mark-alt {
  color: #636363;
}

.delete_icon {
  cursor: pointer;
  font-size: 20px;
}

.delete_icon:hover {
  color: rgba(36, 181, 226, 1);
}

.todo__content {
  width: 80%;
  height: 100%;
  display: inline-block;
  margin: -3px auto 0 auto;
}

.todo__content > p {
  display: inline-block;
  width: 90%;
  height: 28px;
  word-wrap: break-word;

  line-height: 28px;
  outline: none;
  margin: 0;

  font-size: 15px;
  letter-spacing: -1px;
  font-weight: bold;

  cursor: text;

  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.todo__content--done {
  color: #b3b3b3;
  text-decoration: line-through;
  font-style: italic;
  transform: translateX(7px);
}

/* add button */
.add_todo {
  background-color: transparent;
  border: 0;
  margin-top: -150px;
  width: auto;
  height: 80px;

  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.show {
  margin-top: -24px;
}

#add-new {
  display: block;
  width: fit-content;
  height: 40px;
  margin: 40px auto 0 auto;
  padding: 0 25px;

  background: var(--color-gradation);
  border-radius: 20px;
  border: none;

  font-size: 18px;
  line-height: 40px;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
}

#add-new > i {
  margin-right: 5px;
}

#add-new:hover {
  background: var(--color-gradation-hover);
}

#add-new:active {
  transform: translateY(1px);
  background: var(--color-gradation-active);
}

/*------ footer ------*/
#copyright {
  font-size: 15px;
  color: #8baec3;
  margin: 30px auto 0 auto;
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  width: 250px;
  text-align: center;
}

.copyright_name {
  text-decoration: none;
  color: #8baec3;
  -webkit-transition: all ease-in-out 0.35s;
  -moz-transition: all ease-in-out 0.35s;
  -o-transition: all ease-in-out 0.35s;
  transition: all ease-in-out 0.35s;
  letter-spacing: 0px;
}

.copyright_name:hover {
  color: var(--color-white);
}
/* End To-Do List App */

/* 아래는 아직 미적용 */
.down {
  -webkit-animation: slide_down 0.4s;
  -moz-animation: slide_down 0.4s;
  -o-animation: slide_down 0.4s;
  animation: slide_down 0.4s;
}
@keyframes slide_down {
  0% {
    opacity: 0;
    transform: scale(0);
    margin-top: -41px;
  }
  20% {
    opacity: 0;
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    margin-top: 10px;
  }
}

.up {
  -webkit-animation: slide_up 0.6s;
  -moz-animation: slide_up 0.6s;
  -o-animation: slide_up 0.6s;
  animation: slide_up 0.6s;
}
@keyframes slide_up {
  0% {
    opacity: 1;
    transform: scale(1);
    margin-top: 10px;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0);
    margin-top: -45px;
  }
}

.down_in {
  -webkit-animation: down_in 0.35s;
  -moz-animation: down_in 0.35s;
  -o-animation: down_in 0.35s;
  animation: down_in 0.35s;
}
@keyframes down_in {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-55px);
  }
  70% {
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
.pop_out {
  -webkit-animation: pop_out 0.25s;
  -moz-animation: pop_out 0.25s;
  -o-animation: pop_out 0.25s;
  animation: pop_out 0.25s;
}

.pop_in {
  -webkit-animation: pop_in 0.35s;
  -moz-animation: pop_in 0.35s;
  -o-animation: pop_in 0.35s;
  animation: pop_in 0.35s;
}
@keyframes pop_in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
