@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #1b1c22;
}

.board {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.board__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0 50px;
  gap: 20px;
}

.board__container {
  height: fit-content;
  display: flex;

  background-color: #b5c1dc57;
  border-radius: 8px;

  flex-direction: column;
  align-items: center;
}

.board__ideas-header {
  color: #fff;
  background: #7e57c2;
}

.board__tasks-header {
  color: #fff;
  background: #5c6bc0;
}

.board__done-header {
  color: #fff;
  background: #66bb6a;
}

.header {
  position: relative;
  display: flex;

  width: 270px;
  height: 80px;

  margin-bottom: 20px;

  font-size: 20px;
  text-align: center;

  border-radius: 8px;

  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.add-button {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 30px;
  height: 30px;

  font-size: 20px;
  color: #fff;
  background-color: transparent;
  opacity: 0.5;
}

.add-button:hover {
  opacity: 1;
}

.delete-button {
  position: absolute;
  top: 6px;
  right: 10px;

  border: none;
  font-size: 20px;
  cursor: pointer;

  background-color: transparent;
}

.delete-button:hover {
  transform: scale(1.1);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 270px;
  min-height: 100px;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.draggable {
  position: relative;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 12px;

  background: #eaeaea4f;
  border-radius: 5px;

  cursor: grab;
  transition: 0.3s;
}

.draggable.dragging {
  opacity: 0.5;
}

.tag {
  display: inline-flex;
  margin-bottom: 10px;
  padding: 2px 4px;

  color: #fff;
  font-size: 14px;

  background: #5c6bc0;
  border-radius: 5px;
}
