.buttons-container {
  position: absolute;
  top: 10px;  
  left: 10px; 
  display: flex;
  gap: 10px;  
  z-index: 1000;
}

button {
    appearance: none;
    border: none;
    outline: none;
    display: block;
    color: #fff;
    margin: 0;
    display: block;
    min-width: 50px;
    font-size: 15px;
    padding: 15px;
    /* font: 600 16px/24px 'Inter'; */
    border-radius: 10px;
    background: #F5F9FF;
    box-shadow: 0px 8px 20px -8px rgba(26, 33, 43, 0.50), 0px 4px 12px 0px rgba(26, 33, 43, 0.05), 0px 1px 3px 0px rgba(26, 33, 43, 0.25), 0px 1.5px 0.5px 0px #454D57 inset, 0px -3px 1px 0px rgba(0, 0, 0, 0.50) inset;
    transform: translateZ(0);
    transition: transform .2s;
  
    &:hover {
      transform: scaleX(1.03) scaleY(1.06) translateZ(0);
    }
  
    &:active {
      transform: scaleX(.98) scaleY(.96) translateZ(0);
    }
  }
  
