.customoverlay {
    position:relative;
    bottom:45px;
    border-radius:6px;
    /* border: 1px solid #ccc; */
    border-bottom:2px solid #ddd;
    float:left;
}

.customoverlay:nth-of-type(n) {
    border:0; 
    box-shadow:0px 1px 2px #888;
}

.customoverlay a {
    display:block;
    text-decoration:none;
    color:#000;
    text-align:center;
    border-radius:6px;
    font-size:14px;
    font-weight:bold;
    overflow:hidden;
}

.customoverlay .title {
    display:block;
    text-align:center;
    background:#fff;
    /* margin-right:35px; */
    padding:10px 20px;
    font-size:14px;
    font-weight:bold;
}

.customoverlay:after {
    content:'';
    position:absolute;
    margin-left:-12px;
    left:50%;
    bottom:-12px;
    width:22px;
    height:12px;
    background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

/* -------------------- */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }
  