* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    touch-action: none;
    overflow: hidden;
}

body {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #111;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

h1 {
    color: white;
    font-size: 2.5em;
    font-family: Times New Roman;
    font-weight: lighter;
    margin-top: -250px;
    position: absolute;
    text-align: center;

    width: 100%;
    top: 50px;
    left: 18%;
    transform: translateX(-50%);
}

#drag-container,
#spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
}

#drag-container img,
#drag-container video {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px
        linear-gradient(transparent, transparent, #0005);
}

/* #drag-container img:hover,
#drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #fffd;
  box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0007);
} */

#drag-container p {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    color: #fff;
}

#ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    background: -webkit-radial-gradient(
        center center,
        farthest-side,
        #9993,
        transparent
    );
}

#music-container {
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
@keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

#video-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#video-container h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

#video-list {
    list-style-type: none;
    padding: 0;
}

#video-list li {
    margin-bottom: 5px;
    font-size: 14px;
}

#video-list li:hover {
    background-color: green;
    cursor: pointer;
}

#video-list li.clicked {
    background-color: #f00;
}

#video-container button {
    display: block;
    margin-top: 10px;
}

#video-container-label {
    display: flex;
    justify-content: space-between;
}

#video-list-label {
    display: flex;
}

.add-file-btn {
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.add-file-btn:hover {
    background-color: blue;
}

#add-file {
    display: none;
}

.remove-file-btn {
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.remove-file-btn:hover {
    background-color: blue;
}

#remove-file {
    display: none;
    visibility: hidden;
}

.view-video-btn {
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.view-video-btn:hover {
    background-color: blue;
}

#view-video {
    display: none;
    visibility: hidden;
}

.break-btn {
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.break-btn:hover {
    background-color: blue;
}

#break {
    display: none;
    visibility: hidden;
}

#spin-container video.selected {
    border: 5px solid red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 800px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-close {
    height: 28px;
    width: 28px;
    position: absolute;
    border-radius: 6px;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: #aaa;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close:hover,
.modal-close:focus {
    background-color: red;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-video {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.capture-video {
    width: 10%;
    height: 5%;
    position: absolute;
    top: 87%;
    left: 46%;
    border-radius: 6px;
    color: white;
    background-color: #aaa;
    font-size: 20px;
    font-weight: bold;
}

.capture-video:hover,
.capture-video:focus {
    background-color: yellow;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#image-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 998;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: calc(100% - 40px);
    overflow: auto;
}

#image-container h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

#image-list {
    list-style-type: none;
    padding: 0;
}

#image-list li {
    margin-bottom: 5px;
    font-size: 14px;
}

#image-list li:hover {
    background-color: green;
    cursor: pointer;
}

#image-list li.clicked {
    background-color: #f00;
}

#image-container button {
    display: block;
    margin-top: 10px;
}

#image-list-label {
    display: flex;
}

#image-container-label {
    display: flex;
    justify-content: space-between;
}

#image-list-label {
    display: flex;
}

.view-image-btn {
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.view-image-btn:hover {
    background-color: blue;
}

#view-image {
    display: none;
    visibility: hidden;
}

.save-image-btn {
    padding: 6px 25px;
    background-color: #ff6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.save-image-btn:hover {
    background-color: blue;
}

#save-image {
    display: none;
    visibility: hidden;
}
